.add-form{
      width: 50%;
      margin:10rem auto;
}

.form-group label {
      text-transform: uppercase;
      color: rgb(163, 163, 163);
}

@media screen and (max-width: 600px){
      .add-form{
            width: 95%;
      }
}

#image{
      background-color: gold;
}