@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


*{
  font-family: 'Inter';
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Big Shoulders Stencil Text';
  padding: 0;
  margin: 0;

}
ol , ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white ;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1B1E3D;
}